body {
  margin: 0px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* navbar */
#ribbon-container {
  background-color: #f5faf7;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  }
.progress{
  position: relative;
  background-color: #F5FAF7;
  top: 0px;
  height: 1.2vh;
  border-radius: 0;
}
.progress-bar {
  background-color: #107C41;
  font-size: 10px;
}
.tab-list-container{
  margin-top: 5px;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  padding-left: 20px;
  margin-bottom: 5px;
}
.tab-list-container > span {
  margin-right: 10px;
  font-size: small;
}
.tab-list-container > .active {
  border-bottom: 2px solid #107C41;
}
.tab-list-container-items:hover {
  border-bottom: 2px solid #107C41;
  cursor: pointer;
}
.focus-zone {
  margin-left: 7px;
  margin-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #107C41;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}
.focus-zone-inner {
  width: 100%;
}
.focus-zone-left {
  display: flex;
  flex-direction: row;
}
.focus-zone-right {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.focus-zone-right {
  color: white;
}
.focus-zone-inner-btn {
  background-color: #D5E0DA;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.file-upload-btn {
  color: white;
}
.input-box {
  display: none;
  position: absolute;
  padding: 0;
  z-index: 100;
  outline: none;
  border: 2px solid #107C41;
}  
.input-box:focus{
border: 2px solid #107C41;
}

/* excel */
#excel {
  height: 86vh;
  overflow: hidden;
  position: relative;
} 
#row-1{
  height: 20px;
  display: flex;
  justify-content: start;
  background-color: #ebebeb;
}
#top-canvas {
  position: relative;
  width: 100%;
  height: 20px;
  left: 0;
  z-index: 101;
}
#row-2{
  display: flex;
  height: 100%;
  width: 100%;
}
.sheet{
  height: 100%;
  width: 100%;
}
#side-canvas {
  position: relative;
  background-color: #ebebeb;
  width: 60px;
  left: 0;
  top: 0;
  z-index: 101;
  height: 100%;
}
#main-canvas {
  position: relative;
  top: 0;
  left: 0;
  cursor: cell;
  height: 100%;
  width: 100%;
}

/* scrollbar */
#track-y {
  position: absolute;
  z-index: 10001;
  right: 0;
  top: 0;
  border-radius: 10px;
  width: 10px;
  background-color: #E7E7E7;
  bottom: 0;
  cursor: default;
}
#slider-y {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 60%;
  border-radius: 10px;
  width: 10px;
  background: #8A8A8A;
  transition: 0.15s all;
}
#track-x {
  position: absolute;
  z-index: 10000;
  border-radius: 10px;
  height: 10px;
  background-color: #E7E7E7;
  bottom: 0;
  cursor: default;
  width: 100vw;
}
#slider-x {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40%;
  border-radius: 10px;
  height: 10px;
  background: #8A8A8A;
  /* transition: 0.15s all; */
}

/* graph */
.graph {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  position: absolute;
  top: 340px;
  left: 35%;
  border: 1px dotted;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
.graph-close {
  position: absolute;
  border-radius: 5px;
  right: 5;
  top: 5;
}

/* sheet tab bar */
.sheet-tab-bar {
  background-color: #f5faf7;
  height: 4vh;
  width: 100vw;
  padding: 5px;
  display: flex;
  align-items: end;
  flex-direction: column;
  overflow-x: auto;
  }
  .sheet-list-container{
    height: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: row;
    padding-left: 5px;
  }
  .add-sheet-btn {
    height: inherit;
    border-radius: 4px;
    background-color: #1E7C41;
    color: white;
    font-size: small;
  }
  .add-sheet-btn:hover{
    background-color: #217346;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  .sheet-list-container > span {
    height: inherit;
    display: flex;
    align-items: end;
    position: relative;
    margin-left: 7px;
    padding-left: 3px;
    font-size: small;
    border-radius: 5px;
    background-color: #F5FAF7;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  .sheet-list-container > .active {
    border-bottom: 3px solid #217346;
    font-weight: bold;
  }
  .sheet-tab-btn:hover {
    border-bottom: 3px solid #217346;    
    cursor: pointer;
  }
  .sheet-close-btn {
    margin-left: 2px;
    border: none;
    background-color: transparent;
    width: 20px;
    font-size: 15px;
    height: inherit;
    color: rgb(236, 119, 119);
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .sheet-close-btn:hover {
    background-color: rgb(236, 119, 119);
    color:  white;
    }

/* media query */
@media (max-width: 915px) {
  .focus-zone {
    font-size: smaller;
  }
}

@media (max-width: 800px) {
  .focus-zone {
    font-size: x-small;
  }
}

@media (max-width: 800px) {
  .focus-zone {
    font-size: xx-small;
  }
}